.form-container-dataupload {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    /* height:5000px;  test*/ 
}

.form-container-dataupload h2{
    text-align: center;
    margin-bottom: 40px;
}
.form {
    display: flex;
    flex-direction: column;
}

.form-group {
    margin-bottom: 10px;
}

label {
    font-weight: light;
}
input[type="number"],
input[type="text"],
input[type="file"] {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.file-upload-label {
    padding: 5px 10px;
    /* border: 1px solid #ccc; */
    border-radius: 5px;
    cursor: pointer;
}

button {
    padding: 8px 16px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #0056b3;
}
