@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container-landing-page-mainpage {
  background-color: #d4d4ce;
  margin-right: auto;
  margin-left: auto;
  height: 100vh;
  padding: 100px;
}
.container-landing-page-mainpage h3{
  font-size: 3.3rem;
  padding: 0 0 30px 50px;
  color: teal;
}

.container-landing-page-mainpage h1 {
  padding: 50px;
  font-size: 5rem;
  font-weight: bold;
  line-height: 1.2;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}
.container-landing-page-mainpage p {
  font-size: 1.5rem;
  line-height: 1.75;
  padding: 0 0 30px 50px;
  color: #023246;
  font-family: "PT Serif", serif;
  font-weight: 400;
  font-style: normal;
}

.container-landing-page-mainpage a {
  display: inline-block;
  padding: 0.8rem 1.2rem;
  width: 9rem;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
  color: #2f4156;
  border: 3px solid #2f4156;
  transition: background-color 0.3s ease-in-out;
  text-align: center;
}
.container-landing-page-mainpage a:hover {
transition: .5s ease-in-out;
transform: scale(1.1);
/* border: 1px solid red; */
}
.container-login-register {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-block: 1.5rem;
  margin-left: 3rem;
  gap: 2rem;
}

.container-login-register a{
  border-radius: 2rem;
  background-color: rgba(0, 128, 128, 0.8);
  color: white;
}



.container-landing-page-mainpage a:hover {
  background-color: white;
  color: black;
}

.container-pricing-plans {
  font-family: "Arial", sans-serif;
  background-color: #c8d9e6;
  padding: 30px 100px ;
  display: flex;
  flex-direction: column;
}

.container-pricing-plans h1 {
  text-align: center;
  font-size: 5rem;
  color: teal;
  font-family: "Fira Sans", sans-serif;
  font-weight: 600;
  padding: 50px;
  margin-bottom: 20px;
  font-style: normal;
}

.container-pricing-plans h2 {
  color: rgb(0, 0, 51);
  font-family: "Fira Sans", sans-serif;
  font-weight: 600;
  margin-bottom: 20px;
  font-style: normal;
}

.container-pricing-plans p {
  color: #1f1616;
  font-weight: 400;
  font-size: 1.5rem;
  margin-bottom: 20px;
  text-align: center;
}
.plans-card {
  border: 2px solid #2f4156;
  border-radius: 8px;
  width: 500px;
  height: 380px;
  display: flex;
  gap: 20px;
  text-align: left;
  flex-direction: column;
  cursor: pointer;
  padding: 50px;
  min-width: 0;
  background-color: rgba(0, 128, 128, 0.2);
}
.plans-card:hover{
  background-color: rgb(238, 235, 235);
  transition: .6s ease-in-out;
  transform: scale(1.1);
}

.plans-card ul li {
  list-style: none;
  text-align: left;
}

.plans-card p {
  font-size: 1.3rem;
  text-align: left;
}
.plans-card h2 {
  font-size: 1rem;
}

.basic-plans p,
.pro-plans p,
.enterprise-plans p {
  font-weight: bold;
  font-size: 1.2em;
  text-align: left;
  color: #413131;
}
.btn {
  margin-top: 10px;
}
.plans-card li {
  /* margin-top: 10px; */
  font-size: 20px;
}
.plans-container {
  display: flex;
  justify-content: space-around;
  padding: 50px;
}
.container-pricing-plans h2 {
  text-align: left;
  font-size: 3rem;
}

.container-how-to-use {
  font-family: "Arial", sans-serif;
  background-color: #d4d4ce;
  padding: 5rem 8rem;
}
.container-how-to-use h2 {
  color: #333;
}

.container-how-to-use p {
  color: #666;
}

.container-how-to-use > div {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 2rem;
}

.container-how-to-use > div > div {
  flex: 1;
  padding: 20px;
  border: 1px solid black;
  border-radius: 8px;
  margin: 0 10px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.container-how-to-use h2,
.container-how-to-use > div > div > div h2 {
  color: #27695c;
}

.container-how-to-use > div > div > div p {
  font-size: 1.2em;
  color: #02180c;
}

/* JOIN TEAM */

.container-join-team {
  background-color: #c8d9e6;;
  color: #fff;
  padding: 150px;
  text-align: center;
  color: black;
}

.container-join-team h2 {
  font-size: 2.5em;
  margin-bottom: 30px;
}

.container-join-team p {
  font-size: 1.2em;
  margin-bottom: 30px;
}

.container-join-team div {
  max-width: 600px;
  margin: 0 auto;
}

.container-join-team a {
  display: inline-block;
  padding: 10px 20px;
  margin-top: 50px;
  margin-left: 10px;
  font-size: .9rem;
  text-decoration: none;
  color: white;
  background-color: black;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}

.container-join-team a:hover {
  background-color: white;
  color: black;
  border: 1px solid black;
  transition: .9s ease-in-out;
}


.container-join-team a:hover {
  background-color: #fff; /* Change to your hover background color */
  color: black; /* Change to your hover text color */
}

/* Footer */

footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

footer p {
  margin: 0;
  font-size: 1em;
}

nav {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 9vh;
  font-size: larger;
  font-weight:500;
  gap : 2rem
}

nav a {
  text-decoration: none;
}

.nav-container {
  background-color: #f6f6f6;
  color: black;
  width: 100%;
}
.nav-items {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  cursor: pointer;
}
.nav-items li {
  position: relative;
}

.options-list {
  list-style: none;
  padding: 15px;
  position: absolute;
  top: 2rem;
  min-width: 400px;
  right: 0;
  border: 1px solid #ccc;
  background-color: #fff;
  display: none;
}

.nav-items li:hover {
color: rgb(18, 91, 42);
transition: .5s ease-in-out;
transform: scale(1.1);

}
.nav-items li a{
  color:black;
}