@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

.container-signup{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
.container-signup {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: beige;
  box-shadow: inset 0px 0px 12px 2px black;
}
.signup-container-form h1{
  font-size: 2rem;
  text-align: center;
  margin-bottom: 20px;
}

.signup-container-form {
  background-color: #f9f6f2;
  border-radius: 10px;
  width: 500px;
  height: auto;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 0px 12px 6px rgba(0, 0, 0, 0.2);
}

form input:focus{
  box-shadow: 0 1px 0 rgba(0,0,0,0.2);
}

.signup-container-form div {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.signup-container-form div label {
  min-width: 120px;
  margin-right: 10px;
}

.signup-container-form div input {
  flex: 1;
  padding: 10px;
  background-color: rgb(251, 250, 250);
}
.signup-container-form input:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); 
}
.phone-number-container select {
  padding: 10px;
  margin-right: 5px;
}
.btn-register{
  color: #fff;
  background: #2f2f99;
  font-size: 1.2rem;
  width: 100%;
  font-weight: 500;
  letter-spacing: 1px;
  cursor: pointer;
  transition: 0.4s;
}
.btn-register:hover{
  background: #2f2f99;
  color:white;
  transition: .5s ease-in-out;

}
.btn-register:active {
  background-color: #2f2f99;
  color: white;
}
.image-upload-container {
  margin-bottom: 20px;
}


.signup{
  font-size: 17px;
  text-align: center;
  margin-top: 10px;
}
.signup label{
  color: teal;
  cursor: pointer;
}
.signup label:hover{
  text-decoration: underline;
}
